<!DOCTYPE html>
<html>
  <head>
    <title>CompanySearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to('Search for a Company', root_path) unless current_page? root_path %>
  <%- if user_signed_in? %>
    <%= link_to 'My Addressbook', companies_path %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%- else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up to create an addressbook', new_user_registration_path %>
  <%- end %>

  <body>
    <%= yield %>
  </body>
</html>
